@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply transition-all duration-300 ease-in-out;
}


html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}



a {
  text-decoration: none !important;
}

/* Navigation */

.nav_menu a {
  @apply hover:text-siteyellow hover:border-b-2 hover:border-solid hover:border-siteyellow hover:pb-2 text-white active:text-siteyellow active:border-b-2 active:border-solid active:border-siteyellow active:pb-2;
}

.inner_menu a {
  @apply hover:text-siteyellow hover:border-b-2 hover:border-solid hover:border-siteyellow hover:pb-2
   text-white  lg:text-black active:text-siteyellow active:border-b-2 active:border-solid active:border-siteyellow active:pb-2;
}


/* Hero */
.cta_btn a:nth-child(1){
  @apply text-white block py-2 px-6 border-2 border-solid border-white rounded-md hover:border-none hover:bg-siteyellow hover:text-black font-bold hover:py-3;
}

.cta_btn a:nth-child(2){
  @apply text-black block py-3 px-6 bg-siteyellow font-bold rounded-md;
}

/* about */
.page-btn a, .news_cta a {
  @apply bg-black hover:bg-siteyellow py-4 px-6 rounded-md text-center text-white hover:text-black font-semibold;
}

/* resources*/
.resource_btn a{
  @apply font-semibold;
}

/* gallery */
.gallery_btn {
  @apply bg-black font-semibold mx-0 lg:mx-auto text-white rounded-md py-2 px-5 hover:text-siteyellow block w-64 lg:w-96;
}

/* footer */
.quick a {
  @apply text-white my-3 font-medium hover:text-siteyellow;
}

/* slider */
/* the slides */
.slick-slider .slick-track {
  @apply lg:flex justify-around items-center lg:space-x-4;
}

.slick-prev:before, .slick-next:before {
  @apply lg:!text-3xl !text-black;
}

.slick-prev {
    @apply lg:!-left-9;
}


.animate_res {
  animation: animate_res 0.5s ease-in-out;
}

@keyframes animate_res {
  0% {
    width: 30%;
  }

  100% {
    width: 60%
  }

}

