.t1 {
    background-image: url('../../assets/images/t1-2.png');
}

.t1b {
    background-image: url('../../assets/images/t1.png');
}

.t3 {
    background-image: url('../../assets/images/t3-2.png');
}

.tb {
    background-image: url('../../assets/images/t3.jpg');
}

.t4 {
    background-image: url('../../assets/images/t4.png');
}

.t5 {
    background-image: url('../../assets/images/t5.png');
}

.tag {
    background-image: url('../../assets/images/tag_1.png');
}

.tag:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: -1;
}



